<!--Display Page-->
<div data-role="page" data-theme="b" id="page">

  <!--Image Gallery -->
  <div data-role="content" id="content">
  <!-- Slider -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @items.each do |item| %>
          <div class="swiper-slide">
            <%= image_tag item.photo.url(:iphone5) %>
          </div>
        <% end %>
      </div>
    </div>
    <!-- ImageInfomation -->
    <div id="imginfo">
      <% @items.each do |item| %>
        <div>
          <p class="title">名称: <%= item.title %></p>
          <p class="price">价格: <%= item.price %>元</p>
          <p class="desc"><%= item.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="pagination">
</div>
<script>
var mySwiper = new Swiper('.swiper-container', {
  pagination: '.pagination',
  grabCursor: false,
  freeMode: true,
  freeModeFluid: true
})
</script>
