<div>
<!--Display Page-->
  <div data-role="page" data-theme="b" id="page">
    <!--Image Gallery -->
    <div data-role="content" id="content">
        <div id="display">
          <% @items.each do |item| %>
            <%= image_tag item.photo.url, class: 'item-image' %> 
          <% end %>
        </div>
        <div id="imginfo">
          <% @items.each do |item| %>
            <p>
              名称:<%= item.title %>
              价格:<%= item.price %>
              <%= item.description %>
            </p>
          <% end %>
        </div>
    </div>
  </div>
</div>
