<% provide(:headline, '编辑') %>
<div class="container">
  <div class="center-block item-form" >
    <%= render 'form' %>

    <%= link_to '展示', @item, class: 'btn btn-primary btn-block' %>
    <%= link_to '返回', items_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>
