<div data-role="page" data-theme="b" id="index">
  <div data-role="header">
    <h1>服饰</h1>
  </div>
  <div data-role="content">
  <div class="container">
    <ul class="items">
      <% @items.each do |item| %>      
        <li class="item">
          <p class='item-delete'><%= link_to 'X', item, method: :delete, data: { confirm: '你确定吗?' } %></p>
          <%= image_tag item.photo.url(:iphone5), class: 'item-image' %>
        </li>
      <% end %>
      <li class="item new-item">
        <div class="plus-vertical-middle" >
          <%= link_to '+', new_item_path  %>
        </div> 
      </li>
    </ul>
  </div>
</div>
</div>