@import "bootstrap";

body{
  margin: 0;
  padding: 0;
}

.btn-primary:visited {
  color: white;
}

nav {
  border-top-left-radius: 10;
  border-bottom-right-radius: 0;
  h1 {
    padding: 0;
    margin: 10px 0;
    text-align: center;
    color: white;
  }
}

.container {
  background-color: #EEE;
  padding: 20px 0px 10px 23px;
}

.footer {
  background-color: #EEE;
  p {
    margin: 30px 0 0 0;
    text-align: center;
    padding: 10px;
  }
}

td {
  border: 20px solid #eeeeee;
  word-break: break-all;
}
