@import "bootstrap";

body{
  margin: 0;
  padding: 0;
}

.btn-primary:visited {
  color: white;
}

nav {
  border-top-left-radius: 10;
  border-bottom-right-radius: 0;
  h1 {
    padding: 0;
    margin: 10px 0;
    text-align: center;
    color: white;
  }
}

.container {
  background-color: #eeeeee;
  padding: 20px 0px 10px 23px;
  border-radius: 20px;
  .items {
    list-style-type: none;
  }
  .item {
    float: left;
    background-color: #ffffff;
    border: 0px;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px 0 15px 17px;
    box-shadow: 0 7px 14px #ffffff;
    &:hover {
      box-shadow: inset;
    }
    .item-delete {
      position: absolute;
      height: 454px;
      width: 256px;
      opacity: 0;
      font-size: 200px;
      font-weight: bold;
      a {
        position: absolute;
        right: 50px;
        top: 200px;
        height: 0;
        text-decoration: none;
        &:hover {
          color: black;
        }
      }
      &:hover {
        opacity: 1;
      }
    }
    .item-image {
      height: 454px;
      width: 256px;
    }
    .plus-vertical-middle {
      height: 247px;
      width: 256px;
      text-align: center;
      margin-top: 207px;
      font-size: 100px;
    }
    &:hover {
    opacity: 0.2
    }
  }
}

.plus-sign {
  height: 0px;
  &:hover {
    text-decoration: none;
    background-color: black;
  }
}

.footer {
  background-color: #eeeeee;
  p {
    margin: 30px 0 0 0;
    text-align: center;
    padding: 10px;
  }
}

.item-form {
  width: 45%;
  margin-top: 30px;
  margin-bottom: 40px;
}

.border-top-radius {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.border-bottom-radius {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#item_title {
  height: 50px;
}
#item_description {
  height: 100px;
}
#item_price {
  height: 50px;
}

td {
  width: 400px;
  text-decoration: underline;
}

* {
    font-family: 'Microsoft YaHei','Helvetica Neue', Helvetica, Arial, Verdana,  "Hiragino Sans GB", STHeiti, sans-serif;
    margin: 0;
    padding: 0;
}

  
#page {
  background-image: url(background.jpg);
}

#content{
  padding: 0;
}

.ui-content{
  padding: 0px;
}

#display{
  position: relative;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
}

#display img{
  border: 2px solid green;
  position: absolute;
  -webkit-backface-visibility: hidden;
}

#imginfo{
  position: absolute;
  background-color: white;
  opacity: 0;
  text-align: center;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
}

#imginfo p{
  color: blue;
  font-size: 30px;
}

.ui-body-c, .ui-overlay-c {
  border: 1px solid #AAA;
  color: #333;
  background: #F9F9F9;
}