* {
    font-family: 'Microsoft YaHei','Helvetica Neue', Helvetica, Arial, Verdana,  "Hiragino Sans GB", STHeiti, sans-serif;
    margin: 0;
    padding: 0;
}

#page{
  background-image: url(background.jpg);
}

#content{
  display: block;
}

.ui-content{
  padding: 0px;
}

.swiper-wrapper{
  white-space:nowrap;
  position: relative;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  z-index: 1001;
  touch-action: manipulation;
}

.swiper-wrapper img{
  float: left;
  border: 2px solid black;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(0.90, 0.95);
}

#imginfo{
  background-color: black;
  opacity: 0;
  bottom: 0;
  overflow: hidden;
  left: 0;
  position: absolute;
}

#imginfo p{
  color: white;
  font-size: 20px;
}

.ui-body-c, .ui-overlay-c {
  border: 1px solid #AAA;
  color: #333;
  background: #F9F9F9;
}

.title{
  float: left;
  text-align: center;
}

.price{
  float: left;
  text-align: center;
}

.desc{
  text-indent: 1em;
}