<!DOCTYPE html>
<html>
<head>
  <title>服饰</title>
  <%= stylesheet_link_tag    "mobile", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "mobile", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <!-- shims for backwards compatibility -->
  <script type="text/javascript" src="http://code.famo.us/lib/functionPrototypeBind.js"></script>
  <script type="text/javascript" src="http://code.famo.us/lib/classList.js"></script>
  <script type="text/javascript" src="http://code.famo.us/lib/requestAnimationFrame.js"></script>

  <!-- module loader -->
  <script type="text/javascript" src="http://code.famo.us/lib/require.js"></script>

  <!-- famous -->
  <link rel="stylesheet" type="text/css" href="http://code.famo.us/famous/0.2/famous.css" />
  <script type="text/javascript" src="http://code.famo.us/famous/0.2.0-surfacefix/famous.min.js"></script>


</head>
<body>
  <%= yield %>
</body>
